<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.24.1.min.js'></script>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

    <title>Quiz5</title>
</head>
<body style="background-color:teal;">
<ul>
    <li><a href="/" class="active">Home</a></li>
    <li><a href="/page2.html">Page2</a></li>
        <li><a href="/page3.html" >Page3</a></li>

</ul>
<div style="float:right;">
    <h1>Shruthaja P Rao</h1>
    <h2>1002118604</h2>
</div>
<div style="margin-top:3%;">
    <h1> Form 1</h1>
    <form action="/" method="post">
        <input type="text" name="l1" placeholder="Enter L1">
        <input type="text" name="l2" placeholder="Enter L2">
        <input type="text" name="notallowed" placeholder="Give elements to not allow">
        <input type="submit">
    </form>
    <>

    <form action="/user.html" method="post">
        <input type="text" placeholder="Enter password" name="userpass">
        <input type="submit">
</form>

{{result}}
        {{result1}}

</div>
</body>
</html>